<div class="card" style="width: 18rem;">
    <img height="350px"  src="https://static.8cache.com/cover/eJzLyTDWD_a19DTJzPDKCTTMcvUp060yLAkxjXQ0iMhJ1Q3K8zeNzzALDUlxL3FNNrWs8nNxDDMtcgqMCHQpc7YMLM-NqvItSHdODXAOCMvMyfIKL8xxqXK0LTcyNNXNMDYyAgDzYx8Z/long-gio.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Lộng gió</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Đọc</a>
    </div>
</div>