<h1>Delete User</h1>
Bạn có đồng ý xóa: <b>{{itemUser.name}}</b>
<form action="" method="post">
<button type="submit">Delete</button>
    <a href="/users/list" class="btn btn-default">Không xóa</a>
</form>